# 基础样式，可以选择 LLVM, Google, Chromium, Mozilla, WebKit
BasedOnStyle: LLVM

# 缩进宽度
IndentWidth: 4

# Tab 宽度
TabWidth: 4

# 永远不要使用 Tab 字符（使用空格替代）
UseTab: Never

# 连续赋值语句对齐
AlignConsecutiveAssignments: false

# 连续声明语句对齐
AlignConsecutiveDeclarations: false

# 指针的星号靠右 (int* p) 还是靠左 (int *p)
PointerAlignment: Left