.DS_Store
*.log
node_modules/
.env
.idea/
.vscode/
build/
dist/
*.swp
*.swo
*.tmp
*.bak
*.backup
*.orig
*.rej
*.pyc
*.pyo
*.pyd
__pycache__/
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.ipa
*.xcuserstate
Pods/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
